<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>United Wardrobe Bot</title>

    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="process.css">
  </head>
  <body>
    <div class="drag-bar">
      <p class="bar-title">UWBot</p>
    </div>
    <div class="logo-container">
        <img class="main-logo" src="../assets/uwlogo.png">
    </div>
    <div class="form-container">
      <div class="main-form">
        <form action="">
          Username:<br>
          <input type="text" name="username">
          <br>
          Password:<br>
          <input type="password" name="password">
          <br>
          <div class="divider"></div>
          <label class="container"> Follow users 
              <input type="checkbox" value="follow">
              <span class="checkmark"></span>
          </label>
          <br>
          User ID of user with followers:<br>
          <input type="text" name="userFollowers" disabled>
          <br>
          Amount:<br>
          <input type="number" name="followAmount" min="1" max="10000" disabled>
          <br>
          <div class="divider"></div>
          <label class="container"> Unfollow followers 
              <input type="checkbox" value="unfollowFollowers">
              <span class="checkmark"></span>
          </label>
          <br>
          <div class="divider"></div>
          <label class="container"> Unfollow users 
              <input type="checkbox" value="unfollow">
              <span class="checkmark"></span>
          </label> 
          <br>
          Amount:<br>
          <input type="number" name="followAmount" min="1" max="10000" disabled>
          <br><br>
          <div class="button-container">
            <input class="button" type="submit" value="Start">
          </div>
        </form> 
      </div>
    </div>
    

  </body>
</html>
