.logo-container{
    width: 100%;
    align-content: center;
    text-align: center;    
    margin-top: 0px;
}

.main-logo {
    padding-top: 20px;
    margin: 0 auto;
    width: 15%
}

.form-container{
    margin-top: 10px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.main-form{
    display: inline-block; 
    text-align: left;
    width: 80%;
}

.button-container{
    width: 100%;
    text-align: center;
}

.button {  
    margin: 0 auto;  
    background: linear-gradient(to right,#27ccc0 0%,#27a7cc 100%);
    border: none;
    padding: 15px 25px;
    border-radius: 4px;
    font-size: 18px;
    width: 100%;
    font-family: "UWMontserrat",sans-serif;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}